<div class="htmlBlock">
  {% if heading_title %}
  <h2 class="htmlBlock__title mainTitle">{{ heading_title }}</h2>
  {% endif %}
  <div class="htmlBlock__content styled-block">{{ html }}</div>
</div>